* {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  width: 80%;
  margin: auto;
}

.page-header {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.btn {
  border: none;
  border-radius: 5px;
  padding-left: 10px;
  padding-right: 10px;
  height: 35px;
}

.btn-success {
  background-color: green;
  color: white;
}

.btn-danger {
  background-color: red;
  color: white;
}
